/* Write your code here. */
h1 {
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-wrap: nowrap;
}

.box1 {
  height: 100px;
  width: 100px;
  background-color: #fbbf24;
  margin: 10px 0;
}

.box2 {
  height: 150px;
  width: 150px;
  background-color: #38dbf8;
  margin: 10px 0;
}

.box3 {
  height: 250px;
  width: 250px;
  background-color: #ec4899;
  margin: 10px 0;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  h1 {
    text-align: center;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-wrap: nowrap;
  }

  .box1 {
    height: 100px;
    width: 100px;
    background-color: #fbbf24;
    margin: 0 10px;
  }

  .box2 {
    height: 200px;
    width: 200px;
    background-color: #38dbf8;
    margin: 0 10px;
  }

  .box3 {
    height: 300px;
    width: 300px;
    background-color: #ec4899;
    margin: 0 10px;
  }
}
